.info-detail {
    height: 95vh;

    .img-t {
        position: absolute;
        top: 0;
        width: 100%;
        left: 0;
        z-index: -1;
    }
    .acti-btn {
        background-color: #fff;
        border-radius: 10px;
        width: 95%;
        margin-left: 2.5%;
        position: absolute;
        bottom: 2%;
        height: 100px;
    }
    .to {
        background-color: #f3f7ff;
        position: absolute;
        top: 23%;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        width: 100%;
        overflow-y: auto;
        box-sizing: border-box;


        .detail-des {
            background-color: #fff;
            border-top-left-radius: 30px;
            border-top-right-radius: 30px;
            margin-top: 20px;
        }

        .acti {
            margin-top: 10px;
            background-color: #fff;
            border-radius: 10px;
        }

      

        .to-title {
            font-size: 26px;
            color: rgba(51, 51, 51, 1);
            font-weight: 600;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            padding: 20px;
            box-sizing: border-box;
        }

        .to-bom {
            display: flex;
            box-sizing: border-box;
            padding: 0 20px;
            justify-content: space-between;

            .bom-left {
                text-overflow: ellipsis;
                overflow: hidden;
                font-size: 22px;
                max-width: 80%;
                color: rgba(87, 162, 255, 1);
            }

            .bom-right {
                padding: 5px 10px;
                font-size: 22px;
                color: rgba(87, 162, 255, 1);
                border: 1px solid rgba(87, 162, 255, 1);
                border-radius: 10px;
            }
        }

    }
}

.btn-b {
    height: 5vh;
    background-color: #2955AE;
    text-align: center;
    line-height: 5vh;
    width: 95%;
    border-radius: 5px;
    margin: 0 auto;
    color: #fff;
}