.ship {
    height: 100vh;


    .ship-date {
        width: 95%;
        background-color: #fff;
        margin: 10px auto;
        padding: 15px;
        font-size: 26px;

        .date-title {
            color: #333333;
            padding: 15px 0;

        }

        input {
            background-color: #F7F8FA;
            border-radius: 5px;
            margin: 1rem 0;
            padding: 10px;
        }

        .input-placeholder {
            font-size: 26px;
        }
    }

    .ship-mark {
        width: 95%;
        background-color: #fff;
        margin: 20px auto;
        padding: 15px;


        .date-title {
            color: #333333;
            padding: 15px 0;
            font-size: 26px;
        }

        textarea {
            background-color: #F7F8FA;
            width: 100%;
            padding: 10px;
            margin: 10px;
            font-size: 26px;
            color: #000;
        }
    }

    .top {
        height: 90vh;
        overflow-y: auto;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    .sub {
        height: 5vh;
        background-color: #2955AE;
        color: #fff;
        width: 95%;
        margin: 0 auto;
        text-align: center;
        border-radius: 10px;
        line-height: 5vh;
    }
}