.home {
    background:
        linear-gradient(to bottom, transparent, #f0f1f5 700px),
        linear-gradient(to right, #9cb5d1 20%, #edf3fd 80%);

    .home-content {
        margin: 20px auto;
        width: 95%;

        .van-grid {
            padding: 0 !important;
        }

        .t {
            margin: 30px 0;
        }

        .studay {
            height: 200px;

            .s-left {
                width: 80%;
                display: flex;
                align-items: center;

                .left-item {
                    background-color: #fff;
                    border-radius: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 10px;
                    height: 180px;
                    width: 30%;
                }
                .ml{
                    margin-left: 20px;
                }
            }

            .s-right {
                width: 20%;
            }
        }
    }
}