page {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.ellipsis {
    max-width: 99%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgba(166, 166, 166, 1);
    font-size: 24px;
}